#gridContainer{
    display:flex;
    flex-wrap:wrap;
    width: 550px;
    height: 550px;
    border: solid black 2px;
    box-sizing: border-box;
    
    
   
}

.grid{
    
    background-color: rgba(121, 103, 103, 0.26);
    flex-grow: 1;
    flex-shrink: 1;
    border: solid silver 1px;
    box-sizing: border-box;
    height: auto;
    
    

}



#header{
    display: flex;
    justify-content: center;
}

#colorContainer{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    justify-self: flex-start;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 1;
    gap:16px;
}

.button{
    min-width: 100px;
    border: solid  silver 2px;
    border-radius: 45% ;
    background-color: black;
    font-size: 24px;
    font-family: cursive, 'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
    flex: 1 0 auto;
}

.interface{
   display: flex;
   justify-content:center;
   align-self: center;
   width: 800px;
   padding-top: 30px;
   gap: 40px;
   
}


#optionsContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    align-self: flex-start;
    
}


body{
   
    display: flex;
    min-height: 100vh;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    align-items: center;
    background-image: url("./empty-blackboard.jpg");
    background-size: cover;
    z-index: -1;
    
}
#footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 40px;
}

h1, p {
    font-family:cursive, 'Times New Roman', Times, serif;
    color:antiquewhite;
    text-shadow: gray ;
}


#red{

    border-color: rgb(141, 5, 5);

}

#blue{
    border-color: royalblue;
}

#green{
    border-color: mediumspringgreen;
}
#black{
    border-color: gray;
}

#white{
    border-color: antiquewhite;
}